#question {}

.heading {}

#answer {
    visibility: hidden;
}

#learn {}

#play-nav {
    border-top: 1px solid white;
}

.play-nav-container {
    width: auto;
    height: auto;
}

.play-nav-item {
    width: auto;
    height: auto;
}

.minor-container {
    flex: 1 1 auto;
    width: 20%;
    height: auto;
    flex-direction: column;
    border-left: 1px solid white;
    padding-left: 10px;
}

.minor-item {
    flex-wrap: nowrap;
    width: auto;
    height: auto;
}

#question-text {
    min-height: 125px;
}

.major-item {
    width: auto;
    height: auto;
    text-align: left;
    hyphens: auto;
}

.major-container {
    flex: 4 4 auto;
    height: 100px;
    width: 52%;
    justify-content: flex-start;
    align-items: center;
}

.search {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.search-box {
    flex: 4 2 auto;
    height: auto;
    font-size: 1.25em;
    border: none;
}

.search-button {
    flex: 1 1 auto;
    height: auto;
    font-size: 1.25em;
    background: #646086;
    color: white;
    border: none;
}

.search-button:hover {
    background: #46445E;
}

.play-nav-button {
    flex-grow: 1;
    font-size: 1.25em;
    background: #646086;
    color: white;
    border: none;
    margin-left: 0px;
    margin-right: 0px;
}

.play-nav-button:hover {
    background: #46445E;
}
